<div class="header pt-3 d-flex align-items-center" style="min-height: 200px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-primary opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
            <div class="div_headers">
                <img src="{{player.imagen}}" alt="" class="imagen-player">
                <h1 class="text-white">{{player.firstname}}</h1>
                <button type="button" class="btn  btn-outline-primary my-4 ml-3" (click)=" follow()" *ngIf="seguido">Eliminar</button>
                <button type="button" class="btn btn-primary my-4 ml-3" (click)="follow()" placement="right"
                ngbPopover="Has seguido al jugador">{{isfollow}}</button>
            </div>
            
          <!--a href="#!" class="btn btn-info">Edit profile</a-->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height: 100vh;">
    <div class="row pt-4">
        <div class="col-lg-10">
            <video src="{{video.post_data.video}}" class="vide" controls></video><br>
            <div class="va">
                <img src="{{player.imagen}}" class="seguidos ws" class="vi">
                <p class="" href="" style="padding-left: 10px; font-size: 14px;">
                    {{video.post_data.title}}<br>
                    {{player.firstname}} <i class="fas fa-check-circle"></i>
                </p><br>
                
              </div>
              <p> {{video.post_data.description}}</p>
        </div>
        <div class="col-lg-2">
            <div class="row scroll">
                Lista de videos: 
                <div *ngFor="let item of post" class="col-12 pt-1">
                    <video src="{{item.post_data.video}}" class="v" (click)="ir(item.id, post)"></video><br>
                    <div class="va">
                      <img src="{{player.imagen}}" class="seguidos ws" class="vi">
                      <p class="" href="" style="padding-left: 10px; font-size: 14px;">
                          {{item.post_data.title}}<br>
                          {{player.firstname}} <i class="fas fa-check-circle"></i>
                      </p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  