<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Usuarios</h1>
        <p class="text-white mt-0 mb-5">Aqui encontraras la informacion resumida</p>
        <!--a href="#!" class="btn btn-info">Edit profile</a-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <br>
              <div class="card card-profile shadow">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                      <a href="javascript:void(0)">
                        <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                  <div class="d-flex justify-content-between">
                    <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">En linea</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Mensaje</a>
                  </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        <div>
                          <span class="heading">22</span>
                          <span class="description">Ojeadores</span>
                        </div>
                        <div>
                          <span class="heading">10</span>
                          <span class="description">Fotos</span>
                        </div>
                        <div>
                          <span class="heading">89</span>
                          <span class="description">Comentarios</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h3>
                      Jessica Jones<span class="font-weight-light">, 27</span>
                    </h3>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>Bucharest, Romania
                    </div>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2"></i>Delantero
                    </div>
                    <div>
                      <i class="ni education_hat mr-2"></i>Francia
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 order-xl-1">

      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi club</h3>
            </div>
            <div class="col-4 text-right">
              <!--a href="#!" class="btn btn-sm btn-primary">Settings</a-->
            </div>
          </div>
        </div>

          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="custom-tab-content flex-column flex-md-row">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active1" class="nav nav-pills justify-content-center" type="pills">
                  <li class="nav-item" [ngbNavItem]="1">

                    <ng-template ngbNavContent>
                      <div class="tab-content">
                        <div class="row">
                          <div class="col">
                            <div class="card shadow">
                              <div class="card-header border-0">
                                <!--h3 class="mb-0">Card tables</h3-->
                              </div>
                              <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">Nombre</th>
                                      <th scope="col">Salario</th>
                                      <th scope="col">Estado</th>
                                      <th scope="col">Fotos</th>
                                      <th scope="col">Rendimiento</th>
                                      <th scope="col"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                          </a>
                                          <div class="media-body">
                                            <span class="mb-0 text-sm">Jugador 1</span>
                                          </div>
                                        </div>
                                      </th>
                                      <td>
                                        $2,500 USD
                                      </td>
                                      <td>
                                        <span class="badge badge-dot mr-4">
                                          <i class="bg-warning"></i> pending
                                        </span>
                                      </td>
                                      <td>
                                        <div class="avatar-group">
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                                          </a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="d-flex align-items-center">
                                          <span class="mr-2">60%</span>
                                          <div>
                                            <div class="progress">
                                              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td class="text-right">
                                        <div ngbDropdown placement="bottom-right">
                                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                          </a>
                                          <div class="media-body">
                                            <span class="mb-0 text-sm">Jugador 2</span>
                                          </div>
                                        </div>
                                      </th>
                                      <td>
                                        $1,800 USD
                                      </td>
                                      <td>
                                        <span class="badge badge-dot">
                                          <i class="bg-success"></i> Activo
                                        </span>
                                      </td>
                                      <td>
                                        <div class="avatar-group">
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                                          </a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="d-flex align-items-center">
                                          <span class="mr-2">100%</span>
                                          <div>
                                            <div class="progress">
                                              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td class="text-right">
                                        <div ngbDropdown placement="bottom-right">
                                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                          </a>
                                          <div class="media-body">
                                            <span class="mb-0 text-sm">Jugador 3</span>
                                          </div>
                                        </div>
                                      </th>
                                      <td>
                                        $3,150 USD
                                      </td>
                                      <td>
                                        <span class="badge badge-dot mr-4">
                                          <i class="bg-danger"></i> Lesionado
                                        </span>
                                      </td>
                                      <td>
                                        <div class="avatar-group">
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                                          </a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="d-flex align-items-center">
                                          <span class="mr-2">72%</span>
                                          <div>
                                            <div class="progress">
                                              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td class="text-right">
                                        <div ngbDropdown placement="top-right">
                                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                          </a>
                                          <div class="media-body">
                                            <span class="mb-0 text-sm">Jugador 4</span>
                                          </div>
                                        </div>
                                      </th>
                                      <td>
                                        $4,400 USD
                                      </td>
                                      <td>
                                        <span class="badge badge-dot">
                                          <i class="bg-info"></i> Sin equipo
                                        </span>
                                      </td>
                                      <td>
                                        <div class="avatar-group">
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                                          </a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="d-flex align-items-center">
                                          <span class="mr-2">90%</span>
                                          <div>
                                            <div class="progress">
                                              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td class="text-right">
                                        <div ngbDropdown placement="top-right">
                                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                          </a>
                                          <div class="media-body">
                                            <span class="mb-0 text-sm">Jugador 5</span>
                                          </div>
                                        </div>
                                      </th>
                                      <td>
                                        $2,200 USD
                                      </td>
                                      <td>
                                        <span class="badge badge-dot mr-4">
                                          <i class="bg-success"></i> Activo
                                        </span>
                                      </td>
                                      <td>
                                        <div class="avatar-group">
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                                          </a>
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                                          </a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="d-flex align-items-center">
                                          <span class="mr-2">100%</span>
                                          <div>
                                            <div class="progress">
                                              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td class="text-right">
                                        <div ngbDropdown placement="top-right">
                                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="card-footer py-4">
                                <nav aria-label="...">
                                  <ul class="pagination justify-content-end mb-0">
                                    <li class="page-item disabled">
                                      <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                    </li>
                                    <li class="page-item active">
                                      <a class="page-link" href="javascript:void(0)">1</a>
                                    </li>
                                    <li class="page-item">
                                      <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                    <li class="page-item">
                                      <a class="page-link" href="javascript:void(0)">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                      </a>
                                    </li>
                                  </ul>
                                </nav>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>


                </ul>
              </div>

              <div [ngbNavOutlet]="nav" class="custom-tab-content"></div>
            </div>
          </div>


      </div>

    </div>
  </div>
</div>
