<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white sombra-lateral" id="sidenav-main" style="background-color: #1E232D !important;">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler blanco" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <i class="fas fa-bars icon-y"></i>
    </button>
    <!-- Brand -->
    <div>
      <a class="navbar-brand"  [routerLink]="['/dashboard']">
        <img src="./assets/img/manager/logo.png" class="navbar-brand-img" alt="...">
      </a>
    </div>
    <!-- User -->
    <!--ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link nav-link-icon" role="button" ngbDropdownToggle>
          <i class="ni ni-bell-55"></i>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/img/theme/team-1-800x800.jpg">
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </l>
    </ul-->
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main" style="background-color: #1E232D !important">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a>
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="" (click)="isCollapsed=!isCollapsed" style="background-color: #1E232D;">
              <i class="fas fa-times icon-y"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <!--form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form-->
      <!-- Navigation -->
      <ul class="navbar-nav">
          <!--li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                  <i class="far {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
          </li-->
          <li class="ws nav-item">
              <a routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link blanco">
                  <i class="fas fa-home icon-y"></i>
                  Inicio
              </a>
          </li>
          <li class="ws nav-item">
              <a routerLinkActive="active" [routerLink]="['/scouting']" class="nav-link blanco">
                  <i class="fas fa-compass icon-y"></i>
                  Scouting
              </a>
          </li>
          <li class="ws nav-item">
              <a routerLinkActive="active" [routerLink]="['/promo']" class="nav-link blanco">
                  <i class="fas fa-bolt icon-y"></i>
                  Promocionados
              </a>
          </li>
          <li class="ws nav-item list__item list__item--click">
            <div class="list__button list__button--click">
              <i class="fas fa-trophy icon-y"></i>
              <span class="sub_menu">Equipo</span>
                <img src="assets/arrow.svg" class="list__arrow icon-y">
            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a  class="nav__link nav__link--inside" routerLinkActive="active" [routerLink]="['/team']">Gestión de equipos</a>
                </li>
                <li class="list__inside">
                    <a  class="nav__link nav__link--inside" routerLinkActive="active" [routerLink]="['/coach']">Gestión de entrenadores</a>
                </li>
            </ul>
          </li>
          <!--li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <img src="assets/docs.svg" class="list__img">
                <a class="nav__link">Servicios</a>
                <img src="assets/arrow.svg" class="list__arrow">
            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a  class="nav__link nav__link--inside">Estoy dentro</a>
                </li>

                <li class="list__inside">
                    <a  class="nav__link nav__link--inside">Estoy dentro</a>
                </li>
                <li class="list__inside">
                  <a  class="nav__link nav__link--inside">Estoy dentro</a>
              </li>
              <li class="list__inside">
                <a  class="nav__link nav__link--inside">Estoy dentro</a>
              </li>
            </ul>
          </li-->
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading >
      <h6 class="navbar-heading text-muted">Documentation</h6>
      <!-- Navigation -->
      <p class="seguido">SEGUIDOS</p>
      <ul class="navbar-nav mb-md-3">
        <li *ngFor="let seguidores of lista_seguidores" class="nav-item">
            <a routerLinkActive="active" class="nav-link blanco" [routerLink]="['/user-player',seguidores.id]">
              <img src="{{seguidores.imagen}}" class="seguidos ws img_seguidor"> <span style="margin-left: 13px;">{{seguidores.firstname}}</span> 
            </a>
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <p class="seguido">PREMIUN</p>
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link blanco" [routerLink]="['/subscription']">
            <i class="fas fa-star icon-y" ></i>  Suscripción
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="main.ts"></script>
