.grad1 {
  background-image: linear-gradient(#070707, #5E5E5E);
}

.sombra-lateral {
    box-shadow: 2px 5px 20px 1px #e5ee2a !important;
    z-index: 999;
}

.ws {
  font-family: 'Work Sans';
  color: #1E232D;
  font-weight: 16px;
}

hr {
  color: #FFD513;
}

.active {
  background: #292E37;
  color: #FFD513 !important;
}

.seguido{
  font-family: 'Work Sans';
  color: #1E232D;
}

.seguidos{
  padding-right: 10px;
}