.home-header {
	background-color: white;
    height: 76px;
}

.re {
	font-family: 'Work Sans';
	color: #1E232D;
	font-weight: 16px;
  }

.v {
	width: 95%;
    height: 73%;
	max-height: 168px;  
}
.vi {
	width: 36px; 
	height: 36px;
	margin-bottom: 10px;
	border-radius: 100px;
}
.va {
	display: flex;
    align-items: center;
    vertical-align: center !important;
}

.hrr {
	margin-top: 1px;
    margin-bottom: 20px;
}

.ws {
	border-radius: 100px;
}
.blu {
	position: absolute;
    list-style: none;
    padding: 0px;
    width: max-content;
    min-width: 100px;
    background-color: #ffd513;
	z-index: 9999;
	font-family: 'Work Sans';
	font-size: 14px;
	color: #1E232D;
}

li:hover{
	background-color:#000000;
}

.bli{
	padding: 10px;
    border-top: 1px solid rgb(204,204,204);
}

.eliminar{
	position: absolute;
    top: -7px;
}

.boton {
	color: #1E232D;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-right: 16px;
	padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
	width: 100px;
}
.selec_cate{
	width: 100px;
    margin-top: 5px;
	background-color: #FAF6F6;
  	color: #1E232D;
	font-family: 'Roboto';
  	font-size: 14px;
  	box-shadow: 1px 4px 5px -1px rgba(66,56,56,0.71);
    -webkit-box-shadow: 1px 4px 5px -1px rgba(66,56,56,0.71);
    -moz-box-shadow: 1px 4px 5px -1px rgba(66,56,56,0.71);
  	border: none !important;
	padding: 5px 10px;
	border-radius: 5px;
}

.boton-xl {
	color: #1E232D;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-right: 16px;
	padding-right: 20px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
	width: 100px;
}
.selec_cate-xl{
	width: 100px;
    margin-top: 5px;
	background-color: #FAF6F6;
  	color: #1E232D;
	font-family: 'Roboto';
  	font-size: 14px;
  	box-shadow: 1px 4px 5px -1px rgba(66,56,56,0.71);
    -webkit-box-shadow: 1px 4px 5px -1px rgba(66,56,56,0.71);
    -moz-box-shadow: 1px 4px 5px -1px rgba(66,56,56,0.71);
  	border: none !important;
	padding: 5px 10px;
	border-radius: 5px;
}


