.home-header {
	background-color: white;
    height: 76px;
}

.boton {
	color: #1E232D;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-right: 16px;
	padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.re {
	font-family: 'Work Sans';
	color: #1E232D;
	font-weight: 16px;
  }

.v {
	width: 95%;
    height: 73%;
	max-height: 168px;  
}
.vi {
	width: 36px; 
	height: 36px;
	margin-bottom: 10px;
}
.va {
	display: flex;
    align-items: center;
    vertical-align: center !important;
}

.hrr {
	margin-top: 1px;
    margin-bottom: 20px;
}