<div>
<div class="row home-header">
</div>

<div class="container-fluid" style="background-color: #E5E5E5; height: 100vh;">
  <br>
  <a class="re">Filtrar por</a>
  <div class="row" >
    <div class="col-12">
      <button type="button" class="btn btn-outline-primary my-4 boton">Jugadores</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Posición</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Edad</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Pierna</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Altura</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Equipo</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Ciudad</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Provincia</button>
      <button type="button" class="btn btn-outline-primary my-4 boton">Pais</button>
    </div>
  </div>
  <hr class="my-3">
  <div class="row">
    <div class="col-3">
      <video src="https://www.youtube.com/watch?v=Xz3uCjxw4xw"  controls></video>
      <a class="nav-link" href="">
        <img src="./assets/img/manager/Ellipse93.png" class="seguidos ws">  Lorem ipsum dolor sit amet
      </a>
      <a class="nav-link" href="">
        Alejandro <i class="fas fa-check-circle"></i>
      </a>
    </div>
  </div>
</div>
